<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.delivery_service.persistence.DepartmentRepository">
    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT
        INTO departments (title)
        VALUES (#{department.title})
    </insert>
    <sql id="departmentAllSelect">
        SELECT
            d.id AS dep_id, d.title AS dep_title
        FROM departments d
    </sql>
    <select id="findAll" resultMap="DepartmentResultMap">
        <include refid="departmentAllSelect"/>
        ORDER BY id
    </select>
    <select id="findById" resultMap="DepartmentResultMap">
        <include refid="departmentAllSelect"/>
        WHERE id = #{id}
    </select>
    <select id="countOfEntries" resultMap="CountOfEntriesDepartmentResultMap">
        SELECT
            COUNT(*) AS dep_count
        FROM departments
    </select>
    <update id="update">
        UPDATE departments
        SET title = #{department.title}
        WHERE id = #{department.id}
    </update>
    <delete id="deleteById">
        DELETE
        FROM departments
        WHERE id = #{id}
    </delete>
    <resultMap id="DepartmentResultMap" type="com.solvd.delivery_service.domain.structure.Department" autoMapping="false">
        <id column="dep_id" property="id"/>
        <result column="dep_title" property="title"/>
        <collection property="employees"
                    resultMap="com.solvd.delivery_service.persistence.EmployeeRepository.EmployeeResultMap"/>
    </resultMap>
    <resultMap id="CountOfEntriesDepartmentResultMap" type="Long" autoMapping="false">
        <result column="dep_count" property="id"/>
    </resultMap>
</mapper>