<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.delivery_service.persistence.EmployeeRepository">
    <insert id="create" keyColumn="id" keyProperty="employee.id" useGeneratedKeys="true">
        INSERT
        INTO employees (position, experience, department_id, person_id)
        VALUES (#{employee.position}, #{employee.experience}, #{departmentId}, #{employee.personInfo.id})
    </insert>
    <sql id="employeeAllSelect">
        SELECT
            e.id AS employee_id, e.position, e.experience,
            d.id AS dep_id, d.title AS dep_title,
            p.id AS person_id, p.first_name, p.last_name, p.age,
            ps.id AS passport_id, ps.number AS passport,
            a.id AS address_id, a.city, a.street, a.house, a.flat, a.zip_code, a.country
        FROM employees e
        JOIN persons p ON e.person_id = p.id
        JOIN departments d ON e.department_id = d.id
        JOIN passports ps ON p.passport_id = ps.id
        JOIN addresses a ON p.address_id = a.id
    </sql>
    <select id="findAll" resultMap="EmployeeResultMap">
        <include refid="employeeAllSelect"/>
        ORDER BY e.id
    </select>
    <select id="findById" resultMap="EmployeeResultMap">
        <include refid="employeeAllSelect"/>
        WHERE e.id = #{id}
    </select>
    <select id="findDepartmentEmployees" resultMap="EmployeeResultMap">
        <include refid="employeeAllSelect"/>
        WHERE d.id = #{department.id}
    </select>
    <select id="countOfEntries" resultMap="CountOfEntriesEmployeeResultMap">
        SELECT
        COUNT(*) AS employees_count
        FROM employees
    </select>
    <update id="update">
        UPDATE employees
        <if test="field == 'position'">
            SET position = #{employee.position.name}
        </if>
        <if test="field == 'experience'">
            SET experience = #{employee.experience.name}
        </if>
        WHERE id = #{employee.id}
    </update>
    <delete id="deleteById">
        DELETE
        FROM employees
        WHERE id = #{id}
    </delete>
    <resultMap id="EmployeeResultMap" type="com.solvd.delivery_service.domain.human.employee.Employee" autoMapping="false">
        <id column="employee_id" property="id"/>
        <result column="position" property="position"/>
        <result column="experience" property="experience"/>
        <association property="department"
                     resultMap="com.solvd.delivery_service.persistence.DepartmentRepository.DepartmentResultMap"/>
        <association property="personInfo"
                     resultMap="com.solvd.delivery_service.persistence.PersonInfoRepository.PersonResultMap"/>
        <collection property="packages"
                    resultMap="com.solvd.delivery_service.persistence.PackageRepository.PackageResultMap"/>
    </resultMap>
    <resultMap id="CountOfEntriesEmployeeResultMap" type="Long" autoMapping="false">
        <result column="employees_count" property="id"/>
    </resultMap>
</mapper>